<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
  <%= stylesheet_link_tag 'common', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
  <style>
    body {
        font-family: 'Philosopher', serif;
        background-color: #f4f4f4;
        color: #333;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: url('https://wallpaper-house.com/data/out/8/wallpaper2you_231925.jpg') center center fixed;
        background-size: cover;
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Password strength checking
      const passwordField = document.getElementById('user_password');
      const strengthIndicator = document.getElementById('password-strength');

      if (passwordField && strengthIndicator) {
        passwordField.addEventListener('input', function () {
          const password = passwordField.value;
          const result = zxcvbn(password);

          // Update the UI with the password strength
          strengthIndicator.innerHTML = `Password Strength: ${result.score}/4`;

          // You can also add more visual indicators based on the strength, e.g., change color
          switch (result.score) {
            case 0:
            case 1:
              strengthIndicator.style.color = '#e44d26'; // Weak
              break;
            case 2:
              strengthIndicator.style.color = '#ffa500'; // Fair
              break;
            case 3:
              strengthIndicator.style.color = '#2e8b57'; // Good
              break;
            case 4:
              strengthIndicator.style.color = '#4caf50'; // Strong
              break;
          }
        });
      }
    });
  </script>
</head>
<body>
  <div class="container">
    <h1>Sign Up</h1>
    <% if @user.errors.any? %>
    <% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, required: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, required: true %>
  </div>

  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, required: true %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", id: 'user_password', placeholder: "Minimum 8 required", required: true %>
      <div id="password-strength"></div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
  </div>

  <div class="field" style="display: none;">
    <%= f.label :role %>
    <%= f.select :role, options_for_select(User.roles.keys.map { |r| [r.humanize, r] }), prompt: "Select Role" %>
  </div>

  <div class="button-container">
    <%= f.submit "Sign up", class: 'button' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
  </div>
</body>
</html>