<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JRLibManagement</title>
    <%# <%= stylesheet_link_tag 'common', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">

    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
            background: url('https://wallpaper-house.com/data/out/8/wallpaper2you_231925.jpg') center center fixed;
            background-size: cover;
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="user-card">
            <div class="user-card-img">
                 <div class="initials">
                      <%= image_tag @borrowed_book.book.image, style: 'width: auto;', loading: 'lazy' if @borrowed_book.book.image.present? %>
                 </div>
            </div>
            <div class="user-card-info">
                <div class="profile-header">
                    <h2>Lending Detail</h2>
                </div>
                <table>
                    <tr>
                        <th class="cofd">Name</th>
                        <td class="cofd"><%= @borrowed_book.user.first_name %></td>
                    </tr>
                    <tr>
                        <th class="cofd">Book Title</th>
                        <td class="cofd"><%= @borrowed_book.book.title %></td>
                    </tr>
                    <tr>
                        <th class="cofd">Borrowed On</th>
                        <td class="cofd"><%= @borrowed_book.borrow_date %></td>
                    </tr>
                    <tr>
                        <th class="cofd">Return Before</th>
                        <td class="cofd"><%= @borrowed_book.return_date %></td>
                    </tr>
                </table>
                <% if current_user && current_user.admin? %>
                    <p class="btn-back">
                        <%= link_to 'Back', :back %>
                    </p>
                <% else %>
                <div class="button-container" style="margin-top: auto;">
                    <%= link_to 'Back', :back, class: 'button' %>
                    <%= link_to 'Return', @borrowed_book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</body>
</html>
