<!DOCTYPE html>
<html>

<head>
  <title>JRLibManagement</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'common', media: 'all', 'data-turbolinks-track': 'reload' %>

  <style>
    body {
      font-family: 'Philosopher', serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background: url('https://wallpaper-house.com/data/out/8/wallpaper2you_231925.jpg') center center fixed;
      background-size: cover;
    }

    .user-details {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-top: 20px;
      width: 62.5rem;
    }

    h1 {
      text-align: center;
      color: #aa8531;
      font-family: 'Philosopher',serif;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    thead {
      display: table-header-group;
      text-align: center;
    }

    th {
      background-color: #900c19;
      color: #f2c452;
    }

    a.button {
      display: inline-block;
      background-color: #900c19;
      color: #f2c452;
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
      margin-top: 20px;
      border-radius: 4px;
    }

    .icon {
      margin-right: 5px;
    }

    a.button:hover {
      background-color: #700215;
    }
  </style>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
  <div class="user-details">
    <div style="display: flex; justify-content: space-between; align-items: center; height: 2pc;">
      <h1>All Users</h1>
        <%# <%= link_to new_user_path, class: 'button' do %>
          <%# <i class="fas fa-plus icon"></i> Add
        <% end %>
    </div>
    <table>
      <thead>
        <tr>
          <th>User Name</th>
          <th>User Role</th>
          <%# <th>View</th> %>
          <%# <th>Edit</th>
          <th>Delete</th> %>
        </tr>
      </thead>
      <tbody>
        <% @all_users.each do |user|%>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.role %></td>
          <%# <td><%= link_to profile_path(current_user)</td> %>
          <%# <td><%= link_to 'Edit', edit_user_path(user)</td> %>
          <%# <td><%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: "Are you sure on this Delete ?"} </td> %>
        </tr>
        <%end%>
      </tbody>
    </table>

    <%# <%= will_paginate @all_users %>

  </div>

  <%= yield %>
</body>

</html>
