<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JRLibManagement</title>
      <%= stylesheet_link_tag 'common', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">

    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
            background: url('https://wallpaper-house.com/data/out/8/wallpaper2you_231925.jpg') center center fixed;
            background-size: cover;
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="user-card">
            <div class="user-card-img">
                <div class="initials" style="height: 10; height: 160px; width: 160px; margin-top: 1.5pc;"><%= @user.first_name[0].upcase + @user.last_name[0].upcase %></div>
            </div>
            <div class="user-card-info">
                <div class="profile-header">
                    <h2>Profile</h2>
                    <p class="edit-link">
                        <a href="<%= edit_user_registration_path(@user) %>">
                            <i class="fas fa-edit"></i>
                        </a>
                    </p>
                </div>
                <table>
                    <tr>
                        <th class="cofd">First Name</th>
                        <td class="cofd"><%= @user.first_name %></td>
                    </tr>
                    <tr>
                        <th class="cofd">Last Name</th>
                        <td class="cofd"><%= @user.last_name %></td>
                    </tr>
                    <tr>
                        <th class="cofd">Email</th>
                        <td class="cofd"><%= @user.email %></td>
                    </tr>
                    <tr>
                        <th class="cofd">Phone</th>
                        <td class="cofd"><%= @user.phone_number %></td>
                    </tr>
                </table>
                    <div style="display: flex; justify-content: space-around;">
                        <%= link_to 'ㅤBackㅤ', authenticated_root_path, class: 'btn-back' %>
                        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'btn-back', data: { confirm: 'Are you sure you want to log out?' }, style: 'background-color: #f5f1e9;' %>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>