<% if user_signed_in? %> 
  <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>

<% if current_user && current_user.role == 'admin' %>
  <%= link_to "Create book", new_book_path %>
  <%= link_to "Books", books_path %>
<% end %>
