<!DOCTYPE html>
<html>

<head>
  <title>JRLibManagement</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%# <%= stylesheet_link_tag 'common', media: 'all', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
  <div class="user-details">
    <div style="display: flex; justify-content: space-between; align-items: center; height: 2pc;">
      <h1>All Books</h1>
      <%= link_to new_book_path, class: 'button' do %>
        <i class="fas fa-plus icon"></i> Add
      <% end %>
    </div>
    <table>
      <thead>
        <tr>
          <th class="align_center">Image</th>
          <th>Title</th>
          <th>Genre</th>
          <th>View</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td style="text-align: center;">
            <%= image_tag book.image, style: 'width: auto;', loading: 'lazy' if book.image.present? %>
            </td>
            <td><%= book.genre %></td>
            <td><%= book.title %></td>
            <td><%= link_to 'Show', book_path(book) %></td>
            <td>
              <%= link_to 'Delete', book_path(book), method: :delete, data: { confirm: 'Are you sure on this Delete?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

  <%= yield %>
</body>

</html>
