<style>
  .navbar {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    align-items: center;
    background-color: #f5f1e9;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }

  .logo {
    max-height: 30px;
    margin-right: 4pc;
    margin-left: 1pc;
  }

  .search-bar {
    flex: 1;
    margin: 0 10px; 
  }

  .search-i {
    width: 80%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 10px;
  }

  .search-button{
    position: absolute;
    right: 22.6pc;
    height: 2pc;
    top: 10.6px;
    width: 7pc;
    background-color: #900c19;
    color: #f2c452;
  }
</style>

<nav class="navbar">
  <%= link_to authenticated_root_path do %>
    <%= image_tag('https://img.freepik.com/premium-vector/black-white-logo-letter-jr_773552-361.jpg', alt: 'Your Logo', class: 'logo', style: 'margin-right: 7pc;') %>
  <% end %>

    <div class="search-bar">
    <%= form_tag(search_books_path, method: :get) do %>
      <%= text_field_tag :query, params[:query], placeholder: 'Search...', class: 'search-i' %>
      <%= submit_tag 'Search', class: 'search-button' %>
    <% end %>
  </div>

  <%= link_to authenticated_root_path do %>
    <%= image_tag('https://banner2.cleanpng.com/20180421/bfe/kisspng-computer-icons-home-house-download-home-logo-5adb1dd63a2a06.1427934615243094622383.jpg', alt: 'Your Logo', class: 'logo') %>
  <% end %>

  <!-- Cart Image -->
  <%# <%= link_to borrowed_books_path do ########this will show all the borrowed books by all users###### %>
  <%= link_to user_borrowed_books_borrowed_books_path do%>
    <%= image_tag('https://play-lh.googleusercontent.com/G0-Q7SGCxnnbtLG10ohlb65zpdAzhQmBOcpAHfBh7sO7LMajwXZ_Jl-TbyUDmPdxmxI', alt: 'Shopping Cart', class: 'logo') %>
  <% end %>

  <% if current_user %>
    <%= link_to profile_path(current_user) do %>
      <%= image_tag('https://i.pinimg.com/originals/61/f7/5e/61f75ea9a680def2ed1c6929fe75aeee.jpg', alt: 'User Profile', class: 'logo') %>
    <% end %>
  <% end %>


</nav>